<rewriter>
	<register transform="UrlReWriter.Example.CustomUrlRewriter.StaticUrlTransform, UrlReWriter.Example.CustomUrlRewriter"/>

	<!-- This will stop processing on all ajax extensions and web services
	Note that http://test/ScriptResource.axd/adsfasdf will also bo caught by rule (so don't call your directories ajax names)
	-->
	<if url="^~/([^?#]+/)*/?(ScriptResource.axd|WebResource.axd|elmah.axd|[^/?#]*.asmx|[^/?#]*.asm|[^/?#]*_AppService.axd)(\?)?(\??.*)?$">
		<rewrite to="~/$1$2$3$4" processing="stop" />
	</if>

	<!-- This will replace /test/abba.aspx with /test/abba.aspx (we just want to stop processing things in this directory)-->
	<if url="^~/(images|css|scripts|flash)/(.*)$">
		<rewrite to="~/$1/$2" processing="stop" />
	</if>

	<if url="^(.*)$">
		<rewrite to="${StaticUrlTransform($1)}" processing="stop" />
	</if>
</rewriter>