<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="logMatches" type="Talifun.Web.LogUrl.Config.LogUrlSection, Talifun.Web" requirePermission="false" allowDefinition="MachineToApplication"/>
	</configSections>
	<appSettings/>
	<connectionStrings/>
	<logMatches>
		<urlMatches>
			<!--This will match file extensions. Don't forget that their might be a querystring or a bookmark on the end-->
			<urlMatch name="Pdf" expression=".+\.(pdf)([\?|\#].*)?$"/>
			<urlMatch name="Office" expression=".+\.(doc|xls|ppt)([\?|\#].*)?$"/>
		</urlMatches>
	</logMatches>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpModules>
			<add name="LogModule" type="Talifun.Web.LogUrl.LogUrlModule, Talifun.Web"/>
		</httpModules>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
