<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="GpCssSprite" type="Talifun.Web.CssSprite.Config.CssSpriteSection, Talifun.Web" requirePermission="false" allowDefinition="MachineToApplication"/>
	</configSections>
	<appSettings/>
	<connectionStrings/>
	<GpCssSprite>
		<cssSpriteGroups>
			<cssSpriteGroup name="GoodCssSprite" imageOutputFilePath="~/Static/Image/good-css-sprite.png" cssOutputFilePath="~/Static/Css/good-css-sprite.css">
				<files>
					<file name="GoodImage1" filePath="~/Static/Image/good/01.png"/>
					<file name="GoodImage2" filePath="~/Static/Image/good/02.png"/>
					<file name="GoodImage3" filePath="~/Static/Image/good/03.png"/>
					<file name="GoodImage4" filePath="~/Static/Image/good/04.png"/>
					<file name="GoodImage5" filePath="~/Static/Image/good/05.png"/>
					<file name="GoodImage6" filePath="~/Static/Image/good/06.png"/>
					<file name="GoodImage7" filePath="~/Static/Image/good/07.png"/>
					<file name="GoodImage8" filePath="~/Static/Image/good/08.png"/>
					<file name="GoodImage9" filePath="~/Static/Image/good/09.png"/>
					<file name="GoodImage10" filePath="~/Static/Image/good/10.png"/>
				</files>
			</cssSpriteGroup>
			<cssSpriteGroup name="BadCssSprite" imageOutputFilePath="~/Static/Image/bad-css-sprite.png" cssOutputFilePath="~/Static/Css/bad-css-sprite.css">
				<files>
					<file name="BadImage1" filePath="~/Static/Image/bad/background-nav-ages-11-14.gif"/>
					<file name="BadImage2" filePath="~/Static/Image/bad/logo.gif"/>
					<file name="BadImage3" filePath="~/Static/Image/bad/Main.jpg"/>
				</files>
			</cssSpriteGroup>
		</cssSpriteGroups>
	</GpCssSprite>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpModules>
			<add name="CssSpriteModule" type="Talifun.Web.CssSprite.CssSpriteModule, Talifun.Web"/>
		</httpModules>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
