<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="StaticFileHandler" type="Talifun.Web.StaticFile.Config.StaticFileHandlerSection, Talifun.Web" requirePermission="false" allowDefinition="MachineToApplication"/>
	</configSections>
	<appSettings/>
	<connectionStrings/>
	<StaticFileHandler webServerType="NotSet">
		<!-- The defaults to use when an extension is found that does not have a specific rule  -->
		<fileExtensionDefault name="Default" serveFromMemory="true" maxMemorySize="100000" compress="true"/>
		<!-- Specific rules for extension types -->
		<fileExtensions>
			<fileExtension name="CommonStaticContent" extension="css, js, htm, html, swf, xml, xslt, txt" serveFromMemory="true" maxMemorySize="5000000" compress="true"/>
			<fileExtension name="OfficeDocumentStaticContent" extension="doc, xls, ppt, docx, xlsx, pptx" serveFromMemory="true" maxMemorySize="100000" compress="true"/>
			<!-- Dont compress pdfs as they are already compressed and sending compressed pdf is know to cause problems -->
			<fileExtension name="PdfDocumentStaticContent" extension="pdf" serveFromMemory="true" maxMemorySize="100000" compress="false"/>
			<!-- Dont compress images as they are already compressed -->
			<fileExtension name="ImagesStaticContent" extension="png, jpg, jpeg, gif, ico" serveFromMemory="true" maxMemorySize="500000" compress="false"/>
			<!-- Dont compress audio as they are already compressed -->
			<fileExtension name="AudioStaticContent" extension="wav, mp3, m4a, aac" serveFromMemory="true" maxMemorySize="100000" compress="false"/>
			<!-- Dont compress videos as they are already compressed -->
			<fileExtension name="VideoStaticContent" extension="3gp, 3g2, asf, avi, dv, flv, mov, mp4, mpg, mpeg, wmv" serveFromMemory="true" maxMemorySize="100000" compress="false"/>
			<!-- Dont compress compressed content -->
			<fileExtension name="CompressedStaticContent" extension="zip, rar, 7z, arj" serveFromMemory="true" maxMemorySize="100000" compress="false"/>
		</fileExtensions>
	</StaticFileHandler>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors mode="Off"/>
		<httpHandlers>
			<!-- All the extensions that should be handled by static file handler -->
			<add verb="GET,HEAD" path="*.css,*.js,*.htm,*.html,*.xml,*.txt,*.xslt,*.swf,*.jpg,*.jpeg,*.gif,*.png,*.bmp,*.ico,*.wav,*.mp3,*.m4a,*.aac,*.3gp,*.3g2,*.asf,*.avi,*.dv,*.flv,*.mov,*.mp4,*.mpg,*.mpeg,*.wmv,*.pdf,*.xls,*.doc,*.ppt,*.xlsx,*.docx,*.pptx,*.swf,*.zip,*.rar" type="Talifun.Web.StaticFile.StaticFileHandler, Talifun.Web"/>
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="StaticFileHandler-Integrated" verb="GET,HEAD" path="*.css,*.js,*.htm,*.html,*.xml,*.txt,*.xslt,*.swf,*.jpg,*.jpeg,*.gif,*.png,*.bmp,*.ico,*.wav,*.mp3,*.m4a,*.aac,*.3gp,*.3g2,*.asf,*.avi,*.dv,*.flv,*.mov,*.mp4,*.mpg,*.mpeg,*.wmv,*.pdf,*.xls,*.doc,*.ppt,*.xlsx,*.docx,*.pptx,*.swf,*.zip,*.rar" type="Talifun.Web.StaticFile.StaticFileHandler, Talifun.Web" resourceType="Unspecified" preCondition="integratedMode"/>
			<add name="StaticFileHandler-ISAPI-2.0-64" verb="GET,HEAD" path="*.css,*.js,*.htm,*.html,*.xml,*.txt,*.xslt,*.swf,*.jpg,*.jpeg,*.gif,*.png,*.bmp,*.ico,*.wav,*.mp3,*.m4a,*.aac,*.3gp,*.3g2,*.asf,*.avi,*.dv,*.flv,*.mov,*.mp4,*.mpg,*.mpeg,*.wmv,*.pdf,*.xls,*.doc,*.ppt,*.xlsx,*.docx,*.pptx,*.swf,*.zip,*.rar" type="Talifun.Web.StaticFile.StaticFileHandler, Talifun.Web" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll"/>
			<add name="StaticFileHandler-ISAPI-2.0-32" verb="GET,HEAD" path="*.css,*.js,*.htm,*.html,*.xml,*.txt,*.xslt,*.swf,*.jpg,*.jpeg,*.gif,*.png,*.bmp,*.ico,*.wav,*.mp3,*.m4a,*.aac,*.3gp,*.3g2,*.asf,*.avi,*.dv,*.flv,*.mov,*.mp4,*.mpg,*.mpeg,*.wmv,*.pdf,*.xls,*.doc,*.ppt,*.xlsx,*.docx,*.pptx,*.swf,*.zip,*.rar" type="Talifun.Web.StaticFile.StaticFileHandler, Talifun.Web" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll"/>
			<add name="StaticFileHandler-ISAPI-1.1" verb="GET,HEAD" path="*.css,*.js,*.htm,*.html,*.xml,*.txt,*.xslt,*.swf,*.jpg,*.jpeg,*.gif,*.png,*.bmp,*.ico,*.wav,*.mp3,*.m4a,*.aac,*.3gp,*.3g2,*.asf,*.avi,*.dv,*.flv,*.mov,*.mp4,*.mpg,*.mpeg,*.wmv,*.pdf,*.xls,*.doc,*.ppt,*.xlsx,*.docx,*.pptx,*.swf,*.zip,*.rar" type="Talifun.Web.StaticFile.StaticFileHandler, Talifun.Web" resourceType="Unspecified" preCondition="runtimeVersionv1.1" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v1.1.4322\aspnet_isapi.dll"/>
		</handlers>
	</system.webServer>
</configuration>
