<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Crusher" type="Talifun.Web.Crusher.Config.CrusherSection, Talifun.Web" requirePermission="false" allowDefinition="MachineToApplication"/>
	</configSections>
	<appSettings/>
	<connectionStrings/>
	<Crusher>
		<!-- outputFilePath is the identifier for the cssGroup, so make sure its unique for each cssGroup  -->
		<cssGroups>
			<!-- Css group to demo the crushing -->
			<cssGroup name="SiteCss" debug="false" outputFilePath="~/Static/Css/site.css">
				<files>
					<file name="JQueryUI" filePath="~/Static/Css/jquery-ui-1.8rc3.custom.css" compressionType="Hybrid"/>
					<file name="Default" filePath="~/Static/Css/default.css" compressionType="Hybrid"/>
				</files>
			</cssGroup>
			<!-- Css group to demo the debug property -->
			<cssGroup name="DebugSiteCss" debug="true" outputFilePath="~/Static/Css/debug-site.css">
				<files>
					<file name="JQueryUI" filePath="~/Static/Css/jquery-ui-1.8rc3.custom.css" compressionType="Hybrid"/>
					<file name="Default" filePath="~/Static/Css/default.css" compressionType="Hybrid"/>
				</files>
			</cssGroup>
			<!-- Css group to demo the url property -->
			<cssGroup name="UrlSiteCss" debug="false" url="/Static/Css/url-site.css" outputFilePath="~/Static/Css/url-site.css">
				<files>
					<file name="JQueryUI" filePath="~/Static/Css/jquery-ui-1.8rc3.custom.css" compressionType="Hybrid"/>
					<file name="Default" filePath="~/Static/Css/default.css" compressionType="Hybrid"/>
				</files>
			</cssGroup>
		</cssGroups>
		<!-- outputFilePath is the identifier for the jsGroup, so make sure its unique for each jsGroup  -->
		<jsGroups>
			<!-- Js group to demo the crushing  -->
			<jsGroup name="SiteJs" debug="false" outputFilePath="~/Static/Js/site.js">
				<files>
					<file name="JQuery" filePath="~/Static/Js/jquery-1.4.2.min.js" compressionType="Min"/>
					<file name="JQueryUI" filePath="~/Static/Js/jquery-ui-1.8rc3.custom.min.js" compressionType="Min"/>
					<file name="JqueryFlash" filePath="~/Static/Js/jquery.flash.min.js" compressionType="Min"/>
					<file name="JqueryValidate" filePath="~/Static/Js/jquery.validate.min.js" compressionType="Min"/>
					<file name="JqueryValidateExtra" filePath="~/Static/Js/additional-validation-methods.min.js" compressionType="Min"/>
					<file name="TestJavascript" filePath="~/Static/Js/test.js" compressionType="Min"/>
				</files>
			</jsGroup>
			<!-- Js Group to demo the debug property -->
			<jsGroup name="DebugSiteJs" debug="true" outputFilePath="~/Static/Js/debug-site.js">
				<files>
					<file name="JQuery" filePath="~/Static/Js/jquery-1.4.2.min.js" compressionType="Min"/>
					<file name="JQueryUI" filePath="~/Static/Js/jquery-ui-1.8rc3.custom.min.js" compressionType="Min"/>
					<file name="JqueryFlash" filePath="~/Static/Js/jquery.flash.min.js" compressionType="Min"/>
					<file name="JqueryValidate" filePath="~/Static/Js/jquery.validate.min.js" compressionType="Min"/>
					<file name="JqueryValidateExtra" filePath="~/Static/Js/additional-validation-methods.min.js" compressionType="Min"/>
					<file name="TestJavascript" filePath="~/Static/Js/test.js" compressionType="Min"/>
				</files>
			</jsGroup>
			<!-- Js Group to demo the url property -->
			<jsGroup name="UrlSiteJs" debug="false" url="/Static/Js/url-site.js" outputFilePath="~/Static/Js/url-site.js">
				<files>
					<file name="JQuery" filePath="~/Static/Js/jquery-1.4.2.js" compressionType="Min"/>
					<file name="JQueryUI" filePath="~/Static/Js/jquery-ui-1.8rc3.custom.js" compressionType="Min"/>
					<file name="JqueryFlash" filePath="~/Static/Js/jquery.flash.min.js" compressionType="Min"/>
					<file name="JqueryValidate" filePath="~/Static/Js/jquery.validate.min.js" compressionType="Min"/>
					<file name="JqueryValidateExtra" filePath="~/Static/Js/additional-validation-methods.min.js" compressionType="Min"/>
					<file name="TestJavascript" filePath="~/Static/Js/test.js" compressionType="Min"/>
				</files>
			</jsGroup>
		</jsGroups>
	</Crusher>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="talifun" namespace="Talifun.Web.Crusher" assembly="Talifun.Web"/>
			</controls>
		</pages>
		<httpModules>
			<add name="CrusherModule" type="Talifun.Web.Crusher.CrusherModule, Talifun.Web"/>
		</httpModules>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
